<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h1 th:text="${titleQuestion}"></h1>
		</br> </br>
		<!-- <form th:action="@{/question/}" th:object="${questions}" method="post">

			<div class="form-group row"
				th:each="question : ${questions.questions}">
				<label class="col-sm-2 col-form-label"
					th:text="${question.questionId}" hidden="true">Name</label> <label
					class="col-sm-2 col-form-label" th:text="${question.question}">Name</label>
				<div class="col-sm-6">
					<input type="text" th:vulue="${question.asnwer}" />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Register Client"
						class="btn btn-secondary" />
				</div>
			</div>

		</form> -->

		<!-- <form action="#" th:action="@{/question/}" th:object="${form}"
			method="post">
			<fieldset>
				<input type="submit" id="submitButton" th:value="Save"> <input
					type="reset" id="resetButton" name="reset" th:value="Reset" />
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Author</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="question, itemStat : *{questions}">
							<td><input th:field="*{questions[__${itemStat.index}__].questionId}" /></td>
							<td><input th:field="*{questions[__${itemStat.index}__].question}" /></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</form> -->

		<form action="#" th:action="@{/question/}" th:object="${form}"
			method="post">
			<fieldset>
				<div class="form-group row"
					th:each="question, itemStat : *{questions}">
					<div class="col-sm-4">
						<input type="text"
							th:field="*{questions[__${itemStat.index}__].questionId}"
							hidden="true" /> <input type="text" style="border: 0;"
							tabindex="-1"
							th:field="*{questions[__${itemStat.index}__].question}" readonly />
					</div>
					<div class="col-sm-6">
						<input type="text"
							th:field="*{questions[__${itemStat.index}__].asnwer}" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Send my answer"
							class="btn btn-primary" />
					</div>
				</div>
			</fieldset>
		</form>


	</div>

</body>
</html>